

 
   
<nav>
  
    <div class="logo"><li><a href="/home">cookIT</a></li></div>

    <ul>
        <li><a href="/home">Home</a></li>
        
        <li><a href="/contact">Contact Us</a></li>

        <li><a href="/market">Market</a></li>

        <li><a href="/popular">popular</a></li>

        
        
        <div class="dropdown">
            <li class="dropbtn"><a href="#">Category <i class="fa fa-caret-down"></i></a>
             
            </li>
            <div class="dropdown-content">
              <a href="/breakfast">Breakfast</a>
              <a href="/lunch">Lunch</a>
              <a href="/supper">Supper</a>
              <a href="/dessert">Dessert</a>
              <a href="/snacks">Snack</a>
              <a href="/drink">Drink</a>
            </div>
          </div> 
    </ul>
    

    
     

        
    
       <!-- <div class="log">
            <li class="sign"><a href="/signup">Register</a></li>
            <button class="login"><a href="/login">Login</a></button>
            
            
        </div> 
    
        

        <div class="log">
            
            <button class="login"><a href="/logout">Logout</a></button>
           
        </div>

       
        
     -->
        <% if (user) { %>
           
   
           <!-- <div class="log">
               
               <button class="login"><a href="/logout">Logout</a></button>
              
           </div> -->
           <div class="prof">
            <li class="dropbtn"><a href="#">User <i class="fa fa-caret-down"></i></a>
             
            </li>
            <div class="prof-content">
                <p>signed-in as <span><%= user.userName %> </span></p>
              
              <a href="/">Your Profile</a>
              <a href="/">Your Recipes</a>
              

              <a class="logout" href="/logout">Logout</a>
              
            </div>
          </div> 
        <% }else{ %>
         
           <div class="log">
               <li class="sign"><a href="/signup">Register</a></li>
               <button class="login"><a href="/login">Login</a></button>
               
               
           </div> 
       <%}%>
        
       
    
     
</nav>