

<nav>
    <div class="logo"><li><a href="/">cookIT</a></li></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/chef">Chef</a></li>
        <!-- <li><a href="/profile">About</a></li> -->
        <li><a href="/contact">Contact Us</a></li>
        
        <div class="dropdown">
            <li class="dropbtn">Category 
              <i class="fa fa-caret-down"></i>
            </li>
            <div class="dropdown-content">
              <a href="#">Breakfast</a>
              <a href="#">Lunch</a>
              <a href="#">Supper</a>
              <a href="#">Dessert</a>
              <a href="#">Snack</a>
            </div>
          </div> 
    </ul>


<!-- <div>
    <form id="formz" action="/">
        <input type="text" name="text" placeholder="Search here">
        <i id="iconz" class="fa fa-search" aria-hidden="true"></i>

    </form>
</div> -->

    <div class="log">
        <li class="sign"><a href="/signup">Register</a></li>
        <button class="login"><a href="/login">Login</a></button>
        
        
    </div>
        
</nav>