<nav>
    <div class="logo"><h2>cookIt</h2></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/chef">Chef</a></li>
        <!-- <li><a href="/profile">About</a></li> -->
        <li><a href="/form">Contact Us</a></li>
        <li><a href="/signup">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>


<div>
    <form id="formz" action="/">
        <input type="text" name="text" placeholder="Search here">
        <i id="iconz" class="fa fa-search" aria-hidden="true"></i>

    </form>
</div>
</nav>