<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>

    <header>

   
   

    <section id="bg">

    <!-- <section id="signup-page">

        <div id="signup-side">
            <img src="images/dou4.jpg" alt="picture">

        </div> -->
        <div id="login-container">
            <h2>Login</h2>
            <form>

                
                <label>Email</label>
                <input type="email" placeholder="Email" name="email"  required>
                <div id="email-el"></div>

                <label>Password</label>
                <input type="password" placeholder="Password" name="password" required>
                <div id="password-el"></div>

                


                <button type="submit">LogIn </button>
                <br>

                

                <p class="texts">Don't have an account? <a href="/register">Register</a> </p>

                
    
    
            </form>
        </div>
    
       
    </section>
    
    <!-- </section> -->

</header>

    <script src="../js/login.js"></script>
</body>
</html>