<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>

    <header>

   
    <%- include('./partials/nav.ejs') %> 

    <section id="bg">

    <!-- <section id="signup-page">

        <div id="signup-side">
            <img src="images/dou4.jpg" alt="picture">

        </div> -->
        <div id="login-container">
            <h2>Login</h2>
            <form id="form-input" action="" method="">
                <label>
                    Username
                </label>
                <input type="text" placeholder="Username" name="userName" required>

                <label>
                    Password
                </label>
                <input type="password" placeholder="Password" name="password" required>
                
                <label>
                    Forgot password ?
                </label>
                <input type="email" placeholder="Enter email" name="email">


                <button type="submit">LogIn </button>
                <p class="texts">Don't have an account? <a href="/signup">Register</a> </p>

                
    
    
            </form>
        </div>
    
       
    </section>
    
    <!-- </section> -->

</header>

    <script src="../login.js"></script>
</body>
</html>