<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>

    <header>
        

        <%- include('./partials/nav.ejs') %> 

</header>

<main class="main-pic">
    <div class="text4"><h2>Racheal Kuranchie</h2>
    <h3>kuranchieracheal@gmail.com</h3></div>

    <div class="pic">
        <img src="images/pic.jpg" alt="pic" srcset="">
    </div>
</main>






    <section>
        <div class="tag">
            <button type="submit">All Recipes</button>
            <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i>Add New Recipes</button>
        </div>


        <div class="content">
            <button type="submit">Top Recipes</button>
            <div class="container">
                
    
                <div class="cards">
                    <img src="images/imag3.jpg" alt="pic" srcset="">
                    
                    <button type="submit">View Recipes</button>
                </div>
    
                <div class="cards">
                    <img src="images/imag2.jpg" alt="" srcset="">
                    <button type="submit">View Recipes</button>
                </div>
    
                <div class="cards">
                    <img src="images/imag4.jpg" alt="" srcset="">
                    <button type="submit">View Recipes</button>
                </div>
    
                <div class="cards">
                    <img src="images/imag5.jpg" alt="" srcset="">
                    <button type="submit">View Recipes</button>
                </div>
    
                <div class="cards">
                    <img src="images/imag6.jpg" alt="pic" srcset="">
                    <button type="submit">View Recipes</button>
                </div>
    
                <div class="cards">
                    <img src="images/imag7.jpg" alt="pic" srcset="">
                    <button type="submit">View Recipes</button>
                </div>
    
        </div>
        
        </div>
    </section>
    
    <%- include('./partials/footer.ejs') %> 

</body>
</html>