<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>

    <header>
        

        <%- include('./partials/navv.ejs') %> 


        <div><i id="icon" class="fa fa-heart" aria-hidden="true"></i>
        </div>
            <main>
                <div><img src="images/pic6.jpg" alt="" srcset=""></div>



        <section class="profile-main" >
            <h2>Banana Pancake</h2>
            <div class="profile">
                
           
            <div class="rating">

                <i id="icon" class="fa fa-clock" aria-hidden="true"></i>
                <p> 30 minutes <br>Cooking   </p>
                 
            </div>

    
            <div class="rating">
                <i id="icon" class="fa fa-star" aria-hidden="true"></i>
                <p> 30  <br>ratings  </p>             
            </div>
              

            

            <div class="rating">
                <i id="icon" class="fa fa-fire" aria-hidden="true"></i>
                <p> Easy <br>Level recipes</p>
            </div>

            

                </div>
                <div><p>By Racheal</p></div>
                </section>

                <section class="sect">
                    <div class="main-text">
                        <h2>Ingredients</h2>
                        <h2 class="text3">Instructions</h2>
                    </div>
                </section>

        
        </main>

</header>



     <footer>
        <p>Designed by Racheal</p>
    </footer>
</body>
</html>