<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>
<header>


    

<section id="bg">


            
                <div id="login-container">

                    <!-- <h3>Register</h3> -->
                    <h2>Get Started.</h2> 
                    <span>Already have an Account <a href="/login">LogIn</a></h4></span><br>
                    <br>
                    
                    <form id="form-input">
                        <label>FullName</label>
                        <input type="text" placeholder="Name" name="fullName" required>

                        <label>Email</label>
                        <input type="email" placeholder="Email" name="email" required>
                        <div id="email-el"></div>

                        <label>UserName</label>
                        <input type="text" placeholder="username" name="userName" required>
                        <div id="user-el"></div>

                        <label>Password</label>
                        <input type="password" id="password" placeholder="Password" name="password" required>
                        <div id="password-el"></div>

                        <label>Confirm Password</label>

                        <input type="password" id="confirmPass" placeholder=" Confirm Password" name="passwords" required>
                        <div id="Confirmpassword-el"></div>
                    

                    
                        
                        <button type="submit" value="Submit">SignUp</button>
                        <!-- <p class="text">Have an account? <a href="/login">Log In</a> </p> -->
            
            
                    </form>
                </div>
            
            
                
                <!-- </section> -->
            
            </section>

</header>

<script src="./js/signup.js"></script>


</body>
</html>