<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>


<header>

    <%- include('./partials/nav.ejs') %> 

    <main class="contentss">

        <div class="success">
            <h2>Recipe Saved</h2>
        </div>


        <ul>
            
            <li><a href="/">View All Recipe</a></li>
            <li><a href="/chef">View Cooks</a></li>
        </ul>


    </main>
   
</header>
</body>
</html>

