*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main-pages{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)),url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150vh;
}


header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* padding: 10px 20px; */
}

/* Home Page */

.logo{
    color: #ffab32;
    font-family: fantasy;
    font-size: 1.3em;
    
    letter-spacing: 3px;
}

nav{
    
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    width: 100%;
    padding: 14px 10px;
    
    background-color: rgb(247, 248, 246);
    /* box-shadow: 3px 2px 3px rgb(31, 31, 23),
                -3px -2px 3px rgb(37, 37, 37); 
    */
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1.5em;
    
}

nav a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(27, 48, 29);
}

nav a:hover{
    color: #ffab32;
}

#formz{
    position: relative;
}

#iconz{
    position: absolute;
    color: #ffab32;
    font-weight: bold;
    left: 90%;
    top: 21%;
}

#icon{
    color: #ffab32;
    position: absolute;
}

.log{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 1em;

}

/* .log .login{
    background-color: #2b4727;

} */






.image-c{
    background-image: url('images/imag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    width: 90%;
    /* box-shadow: 3px 3px 4px rgb(117, 117, 3),
                -5px -5px 7px rgb(34, 34, 32); */
    min-height: 50vh; 
    margin: 1.2em 4em; 
}

.text{
    position: absolute;
    left: 60%;
    top: 40%;
    color: antiquewhite;
    text-align: center;
    
}
text h2{
    padding: 1.2em;
}
.text a{
    color: #ffab32;
    text-decoration: none;
}

.text button{
    background-color: black;
    color: #ffab32;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1em;
    text-align: center;
    border: none;
    margin: 0.7em auto;
    /* box-shadow: 3px 3px 3px rgb(117, 117, 3),
                -3px -3px 3px rgb(34, 34, 32);  */
}

.tag{
    display: flex;
    justify-content: space-between;
    padding: 3em 5px;
}

.tag a{
    text-decoration: none;
    color: rgb(247, 247, 242);
}
.tag button{
    background-color: black;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    border: none;
    margin: 0.8em auto;
    /* box-shadow: 3px 3px 3px rgb(117, 117, 3),
                -3px -3px 3px rgb(34, 34, 32);  */
}

.tag button:hover{
    background-color: #ffab32;
    color: black;
}
.main-pages .content{
    background-color: #7d8f7e;
    width: 90%;
    border-radius: 3em;
    margin: 1em auto;
    padding: 1.5em;
    /* color: antiquewhite; */
}

.main-pages .content button{
    background-color: black;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    border: none;
    margin: 1.3em 2em;
    /* box-shadow: 3px 3px 3px rgb(117, 117, 3),
                -3px -3px 3px rgb(34, 34, 32);   */
}
.main-pages .container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    /* grid-column-gap: 35px; */
    grid-row-gap: 38px;  

}

.main-pages .cards{
    width: 90%;
    background-color: #464e45;
    padding: 1em;
    border-radius: 13px;
}
.main-pages .cards p{
    padding: 10px 7px;
    font-size: 1em;
}

.main-pages .container .cards img{
    width: 100%;
    border-radius: 10px;
}

.main-pages .container .cards button{
    background-color: black;
    position: absolute;
    top: 70%;
    left: 55%;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 4px 8px;
    text-align: center;
    border: none;
    margin: 0.7em auto;
    box-shadow: 3px 3px 4px rgb(117, 117, 3),
                -3px -3px 4px rgb(34, 34, 32);  
}

.last-content{
margin: 4em auto;
}

.text2{
    padding: 0.3em;
    font-size: 1.2em;
    background-color: #ffab32;
    width: 16%;
    color: black;
    margin: 1.6em 3.4em;
}


.lower-btn{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 30px;
grid-row-gap: 28px; 
    margin: 1.2em auto;

}
.lower-btn button{
    background-color: black;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 12px 18px;
    text-align: center;
    border: none;
    font-size: 1.6em;
    width: 65%;
    margin: 0.7em auto;
    /* box-shadow: 3px 3px 4px rgb(34, 34, 30),
                -3px -3px 4px rgb(34, 34, 32);   */
}

.lower-btn button:hover{
    background-color: #ffab32;
    color: black;
}
footer{
    background-color: #272726;
    text-align: center;
    padding: 2em;
    color: white;
    font-size: 1.2em;
}













  