@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)),url('images/wal.jpg');
    /* background-image: url('images/wal.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 150vh; 
}


/* Home Page */

.logo li a {
    color: #c3363e;
    font-family: 'Quintessential', cursive;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 40%;
    background-color: #8a9898;
    box-shadow: 5px 5px 7px #252929,
                -5px -5px 7px #adc4c4;
}

nav{
    
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    width: 100%;
    padding: 19px 6px;
    color: white;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1.3em;
    
}
.names{
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 2em;
}
.pro p{
    font-weight: bold;
    font-family: cursive;
}
nav a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* color: #c3363e; */
    color: white;
    text-align: center;
}

nav a:hover{
    color: #0e0f11;
}

#formz{
    position: relative;
}

#iconz{
    position: absolute;
    color: #c3363e;
    font-weight: bold;
    left: 90%;
    top: 27%;
}

#icon{
    color: #c3363e;
    position: absolute;
}

.log{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 1em;
    font-size: 1em;

}
.login{
    padding: 1px 15px;
    background-color:#c3363e ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    
    /* width: 10%; */
}

 .login:hover{
    color: #cc3f50;
    background-color: #8a9898;

}
.space{
    background-color: #f2f3f4;
    width: 100%;
    height: 12vh;
    position: relative;
    
}

.prof-content {
    display: none;
    position: absolute;
    background-color: #8a9898;
    width: 125px;
    z-index: 1;
  }
  
  .prof-content a {
   
    color: white;
    padding: 10px 6px;
    text-decoration: none;
    display: block;
    
  }

  .prof-content p {
   font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 12px 8px;
    border-bottom: 1px solid black;
    
    
  }

  .logout{
      border-top: 1px solid black;
  }
  .prof-content span { 
    font-weight: bold;  
  }
  
  .prof-content a:hover {
    background-color: #ddd;
  }
  
  .prof:hover .prof-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #8a9898;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
   
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
#formzz {
    position: absolute;
    left: 25%;
    /* top: 50%; */
width: 40%;
border-radius: 10px;
background-color: #8a9898;
margin:  -2em auto;

}

#formzz input{
    background-color: #8a9898;
    padding: 0.7em;
    width: 90%;
    border-bottom: none;
}


.text{
    margin: 2em 10em;
    text-transform: capitalize;
  background-image: linear-gradient(
    -225deg,
    #6ddeece3 0%,
    #cfdcdfee 29%,
    #da3543e0 67%,
    #7ed1d1d5 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 50% auto;
  /* color: #fff; */
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear ;
  /* display: inline-block; */
      font-size: 30px;
      font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
    color: #c3363e;
  }
}

.new{
    padding: 1em;
    color: #eef5f5;
    font-weight: bold;
}


.text span{
    color: #97252a;
    font-family: cursive;
    font-weight: bold;
}

.tag{
    display: flex;
    justify-content: space-between;
    padding: 3em 5px;
}

.tag a{
    text-decoration: none;
    color: rgb(247, 247, 242);
}
.tag button{
    background-color: #0e0f11;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    border: none;
    margin: 0.8em auto;
    /* box-shadow: 3px 3px 3px rgb(117, 117, 3),
                -3px -3px 3px rgb(34, 34, 32);  */
}

.tag button:hover{
    background-color: #c3363e;
    color: black;
}
.content{
    background-color: rgba(158, 184, 184, 0.411);
    width: 90%;
    border-radius: 3em;
    margin: 1em auto;
    padding: 1.5em;
    /* color: antiquewhite; */
}

.content button{
    background-color: #0e0f11;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    border: none;
    margin: 1.3em 2em;
}
.container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 38px;  

}

.cards{
    width: 90%;
    background-color: #c3363dec;
    padding: 0.4em;
    border-radius: 10px;
    text-align: center;
    transition: 1s transform;
}

.cards:hover{
    transform: scale(0.9);
    border-radius: 10px;
}
.cards p{
    padding: 10px 7px;
    font-size: 1em;
    /* text-align: center; */
}

.container .cards img{
    width: 100%;
    height: 27vh;
    border-radius: 10px;
}

.container .cards button{
    background-color: black;
    position: absolute;
    top: 70%;
    left: 55%;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 4px 8px;
    text-align: center;
    border: none;
    margin: 0.7em auto;
     
}

.last-content{
margin: 4em auto;
}

.text2{
    padding: 0.3em;
    font-size: 1.2em;
    background-color: #ffab32;
    width: 16%;
    color: black;
    margin: 1.6em 3.4em;
}


.lower-btn{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 30px;
grid-row-gap: 28px; 
    margin: 1.2em auto;

}
.lower-btn button{
    background-color: black;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 12px 18px;
    text-align: center;
    border: none;
    font-size: 1.6em;
    width: 65%;
    margin: 0.7em auto;
    box-shadow: 3px 3px 4px rgb(34, 34, 30),
                -3px -3px 4px rgb(34, 34, 32);  
}

.lower-btn button:hover{
    background-color: #ffab32;
    color: black;
}
footer{
    background-color: #272726;
    text-align: center;
    padding: 2em;
    color: white;
    font-size: 1.2em;
}

article {
    margin: 2em auto;
    text-align: center;

}

.textBox{
    font-size: 1.3em;
    padding: 0.8em 1em;
    width: 40%;
    /* margin: 2em 0.2em; */

}

.textBox h2{
    color: #c3363e;
    padding: 0.8em 1em;
    font-size: 1.7em;
    
}

/* .about-page{
    background-color: #8a9898c5;
} */
.about{
    display: flex;
    gap: 1em;
    justify-content: space-around;
    margin: 2em auto;
    padding: 1.5em;
    
}

.picss{
    width: 40%;
    /* background-color: #a6c3c7; */
    padding: 0.4em;
    border-radius: 10px;
}

.picss img{
    width: 100%;
    border-radius: 10px;
}


@media screen and (max-width : 600px) {
    header{
        
        min-height: 150vh; 
    }
    
    
    /* Home Page */
    
    
    .space{
        background-color: #f2f3f4;
        width: 100%;
        height: 12vh;
        position: relative;
        
    }
    
    .text{
        margin: 2em 4em;
        
          font-size: 15px;
    }
    
    @keyframes textclip {
      to {
        background-position: 150% center;
      }
    }
    
    .container{
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 38px;  
    
    }
    article {
        margin: 2em auto;
        text-align: center;
    
    }
    
    .textBox{
        font-size: 1.3em;
        padding: 0.8em 1em;
        width: 95%;
        /* margin: 2em 0.2em; */
    
    }
    
    .textBox h2{
        color: #c3363e;
        padding: 0.8em 1em;
        font-size: 1.7em;
        
    }
    
    .about{
        display: block;
        gap: 1em;
        justify-content: space-around;
        margin: 2em auto;
        padding: 1.5em;
        
    }
    
    .picss{
        width: 95%;
        /* background-color: #a6c3c7; */
        padding: 0.4em;
        border-radius: 10px;
    }
    
    .picss img{
        width: 100%;
        border-radius: 10px;
    } 
    
    
}







