/* profile */


.container2{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 38px; 
}

.container2 .cards img{
    width: 100%;
    height: 27vh;
    border-radius: 10px;
}

.contents{
    background-color: #222528;
    width: 90%;
    position: relative;
    border-radius: 3em;
    margin: 1em auto;
    padding: 1.5em;
    color: antiquewhite;
}

.contents button{
    background-color: black;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    border: none;
    margin: 1.3em 2em;
    
}
.containers{
    width: 95%;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   

}

.cardss{
    position: relative;
    width: 90%;
    background-color: #272726;
    padding: 1em;
    border-radius: 13px;
}


.containers .cardss img{
    width: 100%;
    border-radius: 10px;
}

.containers .cardss button{
    background-color: black;
    position: absolute;
    top: 70%;
    left: 55%;
    color: rgb(247, 247, 242);
    border-radius: 6px;
    padding: 4px 8px;
    text-align: center;
    border: none;
    margin: 0.7em auto;
}

  .profile-main{
      
      text-align: center;
      padding: 1em;
    margin: 1em auto;
    width: 90%;
    height: 60%;
    color: white;
    background-color: rgba(158, 184, 184, 0.493);
    border-radius: 15px;
  }

  .profile{
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 49px;
    grid-row-gap: 0px; 
    font-size: 1.5em;
  }

  .profile-main h2{
      font-size: 2em;
      text-align: center;
      padding: 1em;
      margin: auto;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: sans-serif;
  }
 
  .main-pic{
      /* display: flex;
      justify-content: space-around; */
      margin: 1em auto;
      width: 90%;
      text-align: center;
  }
.text4{
    padding: 5px 3px;
    font-size: 1.3em;
    color: rgb(155, 38, 63);
    text-align: center;  
}

.contentz{
    background: rgba(158, 184, 184, 0.493);
    width: 90%;
    margin: 1.2em auto;
    border-radius: 10px;
    padding: 15px 10px;   
}




.rating{
    padding: 5px 2px;
    margin: auto ;
    /* border-right: 2px solid white ; */
}



#icon{
    position: unset;
    color: rgb(201, 47, 67);
    font-size: 1.2em;
    margin: 1em 0.5em;
    /* padding: 16px 1px; */
}


  .sect{
   display: inline-block;
    margin:  3em 4em;
    width: 90%;
    color: white;
    background: rgba(158, 184, 184, 0.493);
    border-radius: 15px;
  }
.main-text{
    display: flex;
    justify-content: space-around;
    margin: 1em auto;
}
.main-text h2{
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    margin: 1em 3em;
}
  .text3{
    width: 18%;
    padding: 10px 8px;
    border-radius: 10px;
    background-color: rgb(201, 47, 67);
    color: white; 
  }

  

 #commentss{
     text-align: center;
    margin:  3em 4em;
    width: 90%;
    color: white;
    background-color: #96b9be;
    background-image: 
        radial-gradient(at 47% 33%, hsl(196.00, 9%, 59%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, rgb(125, 174, 184) 0, transparent 55%);
    border-radius: 5px; 
    padding: 1em;
    /* display: grid; 
    grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-column-gap: 33px; */
    grid-row-gap: 23px; 
 }

 #cardzz{
    width: 90%;
    background-color: #c3363dec;
    padding: 0.4em;
    border-radius: 10px;
    text-align: center;
 }