a{
    color:white;
    text-decoration: none;
}

a:hover{
  color: #fff;  
}



#login-container{
    backdrop-filter: blur(16px) saturate(37%);
    -webkit-backdrop-filter: blur(16px) saturate(37%);
    background-color: rgba(130, 167, 165, 0.418);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    /* background-color: rgba(134, 163, 163, 0.61); */
   
    /* box-shadow: 2px 3px 2px 3px rgb(37, 21, 20); */
    color: white;
    padding: 3.2em;
    margin: 3em auto;
    width: 40%;
    border-radius: 3px;
    align-content: center;
    
}
#login-container h2{
padding: 0.6em;
color: rgb(204, 51, 51);
font-size: 1.7em;
font-weight: bold;
/* letter-spacing: 2px; */
}

#login-container span a{
    
    text-decoration: none;
    font-size: 1em;
    color: rgb(4, 30, 177);
    font-weight: bold;
}

#login-container span {
    padding: 1.2em 0.7;
    
    font-weight: bold;
}
#form-input{
    border-radius: 8px;
    /* display: block; */
}

#form-input label{
    padding: 6px 0px;
}
#login-container button{
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 10px 14px;
    font: 1rem sans-serif;
    text-align: center;
    border: none;
    margin: 0.7em auto;
    
}

#email-el{
    color: tomato;
    padding: 5px 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    
}

#password-el{
    color: tomato;
    padding: 5px 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

#login-container button:hover{
    background-color: #ac2f2a;
    color: white;
}


input{
    border-bottom: 2px #fff solid;
    /* width: 87%; */
   padding: 0.8rem;
   /* color: white; */
   margin: 0.6em;
   border-radius: 5px;
   border: none;
}
input:focus{
    outline: none;
}

.texts a{
    color: blue;
}

.contentss{
    font-size: 2em;
    background-color: #96b9be;
    background-image: 
        radial-gradient(at 47% 33%, hsl(196.00, 9%, 59%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, rgb(125, 174, 184) 0, transparent 55%);
    border-radius: 5px; 
    padding: 1em;
    margin: 3em 5em;
    text-align: center;
    color: white;
}

.success a{
    text-decoration: none;
    list-style-type: none;
}

.success a:hover{
    color: #af272e;
}

.success ul li{
    list-style-type: none;
}

.contentt{
    color: white;
    font-size: 1.5em;
}

@media screen and (max-width : 600px) {
    
    
    
    #login-container{
        
        
        width: 80%;
        
        
    }
    
    
    
    
    #login-container button:hover{
        background-color: #ac2f2a;
        color: white;
    }
    
    
    
    .contentss{
        
        margin: 3em 1em;
        
    }
    #form-input{
        width: 100%;
        border-radius: 8px;
        /* display: block; */
    }
    
    
}